.home__img {
  border-radius: 100%;
  width: 100%;
}

.home__img-container {
  padding: 16px
}

.home__infos {
  color: #fff;
}

.home__buttons {
  color: #fff !important;
  border: 1px solid rgba(247, 245, 245, 0.34) !important;
}

.home__button-group {
  margin: 16px 0px;
}

.home__card {
  background: transparent !important;
  border: 1px solid rgba(247, 245, 245, 0.34) !important;
}

.home__list {
  margin-top: 16px !important;
}

.MuiTableCell-root  {
  color: #fff !important;
  border-bottom: 1px solid rgba(247, 245, 245, 0.34) !important;
}

.home__icons {
  color: #fff !important;
}
